@import '../fonts/style.css';

:root {
  --color-white:      #FFFFFF;

  --color-accent:     #DE6E4B;

  --color-gray600:    #303030;
  --color-black:      #000000;

  --container-width:  1170px;
  --container-indent: calc(50% - var(--container-width) / 2);
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  line-height: 1.1;
  font-family: 'Poppins', 'sans-serif';
  font-size: 16px;
  font-weight: 400;
  border: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  transition: color .2s;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-weight: 400;
  background-color: var(--color-white);
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: var(--color-white);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-black);
  border-radius: 20px;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(
    to right,
    var(--color-gray600) 50%,
    var(--color-gray600) 50%,
    var(--color-white) 50%,
    var(--color-white) 50%
  );
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

svg {
  transition: fill .2s, transform .2s;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

span {
  display: block;
}

input {
  padding: 4px 8px;
  border-bottom: 1px solid var(--color-black);
  outline: none;
}

input::placeholder {
  color: var(--color-black);
}

.container {
  padding-right: var(--container-indent);
  padding-left: var(--container-indent);
}

.grid-row {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.rotate-90 {
  transform: rotateZ(-90deg);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.icon-16 {
  width: 16px;
  height: 16px;
}

.icon-24 {
  width: 24px;
  height: 24px;
}

.button {
  padding: 4px 18px;
  width: fit-content;
  border-radius: 10px;
  background: var(--color-accent);
}

.wrapper {
  display: grid;
  grid-template-columns: 585px 585px;
  border-radius: 30px;
}

.disabled {
  display: none !important;
}