.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal__wrapper {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  color: var(--color-white);
  border-radius: 30px;
  background: var(--color-accent);
}

.modal__wrapper span {
  font-size: 24px;
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
}